@import "tailwindcss";

a{
  /* list-style: none; */
  text-decoration: none;
}

.hero{
  background: url('/heroI/bg.png');
}
.box{
  width: 350px;
  box-shadow: 0 0 5px rgba(181, 181, 181, 0.721);
  /* border: 1px solid black ; */
  padding: 15px 20px;
  border-radius: 10px;
}

.card{
  width: 450px;
  box-shadow: 0 0 5px rgba(181, 181, 181, 0.721);
  /* border: 1px solid black ; */
  padding: 15px 20px;
  border-radius:25px;
}
@media (max-width:760){
  .card{
    width: 340px;
    flex-wrap:wrap;
    padding: 15px 15px;
  }
}
.inp{
  margin-top:5px;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.786);
  resize:none;
  border-radius:8px;
  font-size: 14px;
}
/* .bg{
  position: absolute;
  width: 50%;
  bottom: 0;
  /* width: 100%; */
  /* background-color: rgba(255, 8, 0, 0.686);
  z-index: -1; */
 
/* } */ 